generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Book
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          book
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        isbn:  { label: ISBN }
      list:
        table_method: retrieveAdminBookList
        display: [id, =title, author, publisher]
        max_per_page: 10
      filter:
        display: [id, title, author_id, publisher_id, isbn, year]
      form:    ~
      edit:
        display: [id, title, author_id, publisher_id, description, image, isbn, year]
      new:
        display: [id, title, author_id, publisher_id, description, inage, isbn, year]
