#nav ul {
  margin:0;
  padding:0;
  list-style:none;
  display:table;
  white-space:nowrap;
  font-family: arial, verdana, sans-serif;
  font-size:11px;
}

#nav li {
  display:table-cell;
  margin:0;
  padding:0;
}

#nav a {
  float:left;
  color:#000;
  background: #ccc url(../images/nav/top_left.gif) no-repeat left top;
  margin:0 2px 0 0;
  padding:0 0 0 2px;
  text-decoration:none;
  letter-spacing:1px;
}

#nav a b {
  float:left;
  display:block;
  background:transparent url(../images/nav/top_right.gif) no-repeat right top;
  padding:5px 16px 5px 12px;
}

#nav a:hover {
  background: #3a73ba url(../images/nav/top_left.gif) no-repeat left top;
  color:#fff; cursor:pointer;
}

#nav .current a {
  background: #3a73ba url(../images/nav/top_left.gif) no-repeat left top;
  color:#fff; cursor:default;
}

#nav {
  padding:2px 0 10px 0;
  background:#eee url(../images/nav/shade_bottom.gif) repeat-x left bottom;
  margin-bottom: 25px;
}